* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

body {
    background-color: #f0f0f0 !important;
}

#heading {

    color: #b21d69;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

    #msform input:focus,
    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #673AB7;
        outline-width: 0
    }

#msform .action-button {
    
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 0px 10px 5px;
    float: right
}

    #msform .action-button:hover,
    #msform .action-button:focus {
        background-color: #311B92
    }

#msform .action-button-previous {

    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 5px 10px 0px;
    float: right
}

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        background-color: #000000
    }

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 22px;
    color: #b21d69;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    padding-left:0 !important;
}

    #progressbar .active {
        color: #b21d69;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f15b"
    }

    #progressbar #blockQuestion:before {
        font-family: FontAwesome;
        content: "\f040"
    }

    #progressbar #blockAnswer:before {
        font-family: FontAwesome;
        content: "\f046"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f0ee"
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #b21d69;
    }

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}



.form-card :required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}

.form-card :required, .form-card select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
}



.form-card select, .form-card input, .form-card textarea, .form-card button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px !important;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.form-card label {
    color: #212529;
    font-size: 1.1em;
}

/* Check out later: https://bbbootstrap.com/snippets/accordion-hover-effect-26103860 */

.mt-100 {
    margin-top: 50px;
}


#css-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

.choices__inner .choices__input--cloned, .choices__list.choices__list--dropdown.is-active div.choices__list div.choices__item.choices__item--choice.has-no-choices {
    display: none;
}

.choices__inner {
    width: 100% !important;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

    .choices__inner .choices__button {
        border: none;
        padding: 0;
    }



    .choices__inner:focus {
        background: var(--bgFormElsFocus);
    }

.choices__item--selectable {
    padding: 0.5em 2em !important;
    font-size: 1em !important;
}


/* CRUD QUESTION*/

.survey .btn-default {
    padding: 0.5em 2em !important;
    max-width: 50%;
    width: auto;
    background-color: #b21d69;
    color:white;
    font-weight:600;
}

#editableTable tr th, #editableTable tr td {
    border: none !important;
}{
    border: none !important;

}


#editableTable .addBlock .btn-default {
    background-color: gray !important;
}

.button.button-small {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}

td input[type=text] {
    width: 100%;
    height: 1.2 em;
    margin: 0;
    padding: 2px 8px;
}

th:last-child {
    text-align: right;
}

td:last-child {
    text-align: left;
}

    td:last-child .button {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0px;
        margin-bottom: 0px;
        margin-right: 5px;
        background-color: #FFF;
    }

        td:last-child .button .fa {
            line-height: 30px;
            width: 30px;
        }